__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
.env
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.pot
*.mo
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
